@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
  background-color: #889399;
}

.signup-heading, .login-heading {
  font-size: 2rem;
  font-family: 'Ultra', serif;
  color: black;
}

.signup-form-email {
  padding: 21px;
  width: 25rem;
}

.back-to {
  margin: 2rem;
  font-family: fantasy;
  font-size: 19px;
}
